
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can read and update their own profile information.
    // They cannot create or delete their own user document.
    match /users/{userId} {
      allow read, update: if request.auth.uid == userId;
    }

    // Users can create, read, write, and delete their own journal entries.
    match /users/{userId}/journals/{journalId} {
        allow read, write: if request.auth.uid == userId;
    }

    // Users can create, read, write, and delete their own weight entries.
     match /users/{userId}/weightEntries/{entryId} {
        allow read, write: if request.auth.uid == userId;
    }

  }
}
