@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 200 11% 94%;
    --foreground: 200 17% 18%;
    --card: 0 0% 100%;
    --card-foreground: 200 17% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 200 17% 18%;
    --primary: 207 82% 68%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 13% 83%;
    --secondary-foreground: 200 17% 18%;
    --muted: 200 13% 83%;
    --muted-foreground: 200 18% 40%;
    --accent: 36 100% 65%;
    --accent-foreground: 200 17% 18%;
    --destructive: 1 81% 62%;
    --destructive-foreground: 0 0% 100%;
    --border: 200 14% 73%;
    --input: 200 14% 73%;
    --ring: 207 82% 68%;
    --chart-1: 207 82% 68%;
    --chart-2: 36 100% 65%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 200 17% 12%;
    --foreground: 200 11% 94%;
    --card: 200 17% 15%;
    --card-foreground: 200 11% 94%;
    --popover: 200 17% 12%;
    --popover-foreground: 200 11% 94%;
    --primary: 207 82% 68%;
    --primary-foreground: 200 17% 18%;
    --secondary: 200 17% 20%;
    --secondary-foreground: 200 11% 94%;
    --muted: 200 17% 20%;
    --muted-foreground: 200 18% 50%;
    --accent: 36 100% 65%;
    --accent-foreground: 200 17% 12%;
    --destructive: 1 81% 62%;
    --destructive-foreground: 0 0% 100%;
    --border: 200 17% 25%;
    --input: 200 17% 25%;
    --ring: 207 82% 68%;
    --chart-1: 207 82% 68%;
    --chart-2: 36 100% 65%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
